<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#site-footer  .wpcf7-form-control.wpcf7-text::placeholder
{
	color:#999999 !important;
}

#site-footer  .wpcf7-form-control.wpcf7-text
{
	background-color:#3C3C3C;
	margin-bottom:8px;
	height:30px !important;
	border-radius:5px !important;
	color:white !important;
}
.wpcf7-form-control.wpcf7-submit
{
	width:100%;
	height:30px !important;
	border-radius:5px !important;
}


.link-meta, .link-meta a {
    color: #c1c1c1;
}
.link-meta:hover, .link-meta a:hover 
{
color:#FF9200 !important;
}

div#page-breadcrumb {
    position: absolute;
    width: 60%;
    z-index: 999999;
    top: 270px;
    right: 0px;
	color:white !important;
background-color:transparent !important;
	border:0px !important;
	text-align:right !important;
  z-index: 1 !important;
}

.home #page-cover, .home #page-breadcrumb
{
	display:none !important;
}
nav.woocommerce-breadcrumb {
    display: none;
}

@media(max-width:768px)
{
	div#page-breadcrumb
	{
		width: 100%;
		top:200px;
	}
}
	
.pro-desc-titile-bar:after
{
width: 0;
    height: 0;
    border-bottom: 50px solid #ff9200;
    border-right: 38px solid transparent;
    content: " ";
    top: 0px;
    left: 0px;
    position: absolute;
}


.pro-desc-tables > div >div >div >div {
    border-collapse: collapse !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.nav-menu-desktop .sub-menu li a{
	background-color:#303030;
	color:white;
}

.nav-menu-desktop .sub-menu li a:hover
{
	background-color:#303030;
	color:#ACACAC;
}
.nav-menu-desktop .menu li.current-menu-item>a {
    color: #FF7200 !important;
}
h1.page-cover-title {
    position: absolute;
    bottom: 20px;
}

@media(min-width:768px)
{
  .home-anazing-gallery-1{
	transform: rotate(5deg) scale(1.3) translateY(-40px);
background-color: rgb(255, 255, 255);
    vertical-align: middle;	
font-size: 10px;
    text-align: center;
    padding: 5px 0 0;
    color: #444;
    line-height: 170%;
	 
}
.home-anazing-gallery-1:hover{
visibility: visible;
	animation-name: fadeInUp;	
transform: rotate(-10deg) scale(1.3) translateY(20px);
	padding:-500px;
transition-duration:0.5s;

    cursor: default;
}

.home-anazing-gallery-2{
transform: rotate(-10deg) scale(1.3) translateY(10px);
 background-color: rgb(255, 255, 255);	
}
.home-anazing-gallery-2:hover{
transform: rotate(5deg) scale(1.3) translateY(40px);
transition-duration:0.5s;	
background-color: rgb(255, 255, 255);
padding:-500px;
	  }
.home-anazing-gallery{
	padding:40px;
	padding-bottom:80px;
}
  .home-anazing-gallery h5
{
	font-size:14px !important;
}
}



h1.page-cover-title {
    font-size: 24px;
}
.switcher
{
	position:absolute;
	top:3px;
	right:0px
}
.item--inner.builder-item--button
{
	position:absolute;
	top:2px;
	right:160px;
}
.product-contact-form-cont input.wpcf7-form-control.wpcf7-submit {
    margin-top: 12px;
}

.vof-blog-page a._self.pt-cv-readmore.btn.btn-success {
	background-color:#FF9B16;
	border-color:#FF9B16;
}

.vof-blog-page a._self.pt-cv-readmore.btn.btn-success:hover {
	opacity:0.8 !important;
}



main#main {
    padding-bottom: 0px;
}

.patentscert h5.fg-item-title,.patentscert .eael-filter-gallery-control
{
display:none !important;	
}
.mfp-container
{
z-index:9999999999 !important;	
}

.iconss {
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index: 9999999999999999;
}

.iconss span {
   width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    cursor: pointer;
    background-color: #ff9200;
    color: white;
    font-size: 14px;
}
.container.bg-color-gray-level-F {
    width: 260px;
    height: 260px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -130px;
    padding: 15px 15px 0;
    z-index: 999;
    background-color: white !important;
}
.font-color-F {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: white;
	padding:10px 0px;
}
.body-overflow-hiddn
{
overflow:hidden;	
}
.qr-modal.qr-modal-show {
    display: block;
}
.qr-modal
{
	z-index:999999 !important;
	background-color:rgba(0,0,0,.8) !important;
	width:100% !important;
	height: 100% !important;
	z-index: 98;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
	    opacity: 1;
    padding-right: 17px;
}
.sharesss {
    position: fixed;
    right: 0;
    width: 200px;
    overflow-x: hidden;
    box-shadow: 0 5px 9px rgba(0,0,0,.17);
    bottom: 60px;
    z-index: 99;
    transition: all .3s;
    background-color: #FFF;
	z-index:99999999 !important;
	right: -200px;
    box-shadow: none;
}
.sharesss-show
{
		right: 0px;
}

.sharesss-head
 {
    padding: 15px 20px;
    transition: all .3s;
    background-color: #ff9200;
    color: #FFF;
	 
}

.sharesss-head i.fa.fa-times {
    font-size: 16px;
    cursor: pointer !important;
    float: right;
}
p.font-color-gray-level-3 {
    display: block;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 12px;
    word-break: break-all;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    margin-bottom: 0px;
}
p.font-color-gray-level-3 span
{
	padding-left:5px;
}

.d3-slidez .wonderplugin3dcarousel-container .wonderplugin3dcarousel-list > .wonderplugin3dcarousel-item >div+a, #threedcarousel-html5-lightbox #html5-watermark
{
    display:none !important;
}
.wonderplugin3dcarousel-image
{
	height:auto !important;
	overflow:visible !important;
}
img.wonderplugin3dcarousel-img
{
	margin:0px !important;
}
.wonderplugin3dcarousel-list-container
{

	height: 650px !important
}
h1.page-cover-title {
    font-size: 22px;
    width: 45%;
    line-height: 1.5em;
}
span.tp-bullet-title {
    display: none !important;
}

@media(max-width:768px)
{
	.front-page-hr-form input.wpcf7-form-control
	{
		margin-bottom:10px;
	}
}



.pswp {
    z-index: 99999 !important;
}</style>
<!-- end Simple Custom CSS and JS -->
